<% if(user.role === "teacher"){ %>
 <%-include("teacher/teacher-dash.ejs")%>
<% }else{ %>
  <%-include("student/student-dash.ejs")%>
<% } %>
<section class="upload-course">
   <div class="container">
    <form action="/update/<%= user._id %>" method="POST">
    <div class="form-group">
        <label for="name">New Name</label><br>
        <input type="text" class="form-control" autofocus name="name" id="name" placeholder="Enter New Name"><br>
    </div>
    <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
   </div>
</section>
<%-include("partials/dash-footer.ejs")%>