<%- include("partials/header.ejs"); %> 
<!-- HEADER -->
<div class="container-fluid header">
  <div class="row heading">
  <div class="col-lg-6">
    <div class="heading-content">
      <h1>Learn from the best in the Industry</h1>
      <h4>Start your jouney now</h4>
      <button type="submit" class="btn btn-dark button-28">Get Started</button>
    </div>
  </div>
</div>
</div>

<!-- CHOOSE US -->
<div class="container choose-us">
  <div class="row">

  <div class="col-lg-6">
    <img src="https://i.ibb.co/txMPTzx/cropped-removebg-preview.png" alt="cropped-removebg-preview" border="0">
    <!-- <img src="images/girl-studying.png" alt=""> -->
  </div>

  <div class="col-lg-6">
    <div class="">
      <h1 style="font-family: Playfair Display, serif; padding-bottom: 1rem; font-size: 3rem; font-weight: 600; color: #0a588b;;">Benefits of choosing iLearn</h1>
      <div class="benefit-card">
        <img src="images/expert.png" alt="">
        <h4>Experts of their domains</h4>
        <p>We have the best faculty for you to get guidance from</p>
      </div>
      <div class="benefit-card">
        <img src="images/courses.png" alt="">
        <h4>Huge range of courses</h4>
        <p>Have varied interests? We have just about everything for you</p>
      </div>
      <div class="benefit-card">
        <img src="images/speed.png" alt="">
        <h4>Flexibility like never before</h4>
        <p>Learn at your own pace, wherever & whenever</p>
      </div>
    </div>
  </div>
</div>
</div>

<!-- STATISTICS -->
<section id="counter-stats" class="wow fadeInRight" data-wow-duration="1.4s">
	<div class="container">
		<div class="row">

			<div class="col-lg-3 stats">
				<i class="fa fa-book-open"></i>
				<div class="counting" data-count="10">0</div>
				<h5>Courses completed</h5>
			</div>

			<div class="col-lg-3 stats">
				<i class="fa fa-hourglass-end"></i>
				<div class="counting" data-count="100">0</div>
				<h5>Hours taught</h5>
			</div>

			<div class="col-lg-3 stats">
				<i class="fa fa-users"></i>
				<div class="counting" data-count="75">0</div>
				<h5>Happy students</h5>
			</div>

			<div class="col-lg-3 stats">
				<i class="fa fa-chalkboard-teacher"></i>
				<div class="counting" data-count="9">0</div>
				<h5>Expert Teachers</h5>
			</div>
		</div>
	</div>
</section>

<!-- cards -->
<div>
 <h1 class="text-center" style="padding: 3.5rem 0;">Most popular courses</h1>
</div>
<div class="course-main" style="margin: auto;">
  <div class="course">
    <a href="" class="card">
      <img src="Assets/course-img.jpg" class="card__image" alt="" />
      <div class="card__overlay">
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
            <path />
          </svg>
          <i class="fas fa-shopping-cart"></i>
          <!-- <img class="card__thumb" src="https://www.vhv.rs/dpng/d/16-166133_play-button-circle-icon-png-transparent-png.png" alt="" /> -->
          <div class="card__header-text">
            <h3 class="card__title">Bitcoin & Cryptocurrency<br />$10</h3>
            <span class="card__status">Jessica Mathew <br />20 hours</span>
          </div>
        </div>
        <p class="card__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
          blanditiis?
        </p>
      </div>
    </a>
  </div>

  <div class="course">
    <a href="" class="card">
      <img src="Assets/course-img.jpg" class="card__image" alt="" />
      <div class="card__overlay">
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
            <path />
          </svg>
          <i class="fas fa-shopping-cart"></i>
          <!-- <img class="card__thumb" src="https://www.vhv.rs/dpng/d/16-166133_play-button-circle-icon-png-transparent-png.png" alt="" /> -->
          <div class="card__header-text">
            <h3 class="card__title">Bitcoin & Cryptocurrency<br />$10</h3>
            <span class="card__status">Jessica Mathew <br />20 hours</span>
          </div>
        </div>
        <p class="card__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
          blanditiis?
        </p>
      </div>
    </a>
  </div>

  <div class="course">
    <a href="" class="card">
      <img src="Assets/course-img.jpg" class="card__image" alt="" />
      <div class="card__overlay">
        <div class="card__header">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg">
            <path />
          </svg>
          <i class="fas fa-shopping-cart"></i>
          <!-- <img class="card__thumb" src="https://www.vhv.rs/dpng/d/16-166133_play-button-circle-icon-png-transparent-png.png" alt="" /> -->
          <div class="card__header-text">
            <h3 class="card__title">Bitcoin & Cryptocurrency<br />$10</h3>
            <span class="card__status">Jessica Mathew <br />20 hours</span>
          </div>
        </div>
        <p class="card__description">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores,
          blanditiis?
        </p>
      </div>
    </a>
  </div>
</div>
<div class="text-center view-more">
<a href="#" class="button">View more</a>
</div>

<!-- TESTIMONIAL -->

<section id="testimonials">
  <div style="padding-right: 0"class="container-fluid">
    <div id="demo" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="carousel-caption">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tellus ligula, rhoncus vitae dui non, blandit hendrerit justo. Proin dapibus viverra tortor eu laoreet. Aliquam semper eu nunc non pulvinar.</p> <img src="https://i.imgur.com/lE89Aey.jpg">
                <div id="image-caption">Nick Doe</div>
              </div>
                
            </div>
            <div class="carousel-item">
              <div class="carousel-caption">
                <p>Cras eget odio ut lorem auctor aliquet et non elit. Vivamus varius arcu quis est ullamcorper blandit. Mauris blandit gravida leo quis sagittis. Ut non urna tempus est sodales convallis vitae sit amet ligula.</p> <img src="https://i.imgur.com/QptVdsp.jpg" class="img-fluid">
                <div id="image-caption">Cromption Greves</div>
              </div>   
            </div>
            <div class="carousel-item">
              <div class="carousel-caption">
                <p>Vestibulum quis urna ut purus congue molestie. Aliquam in nunc ultrices, ullamcorper erat vel, semper odio. Aenean dictum sapien sit amet tortor ultrices, a euismod quam faucibus. </p> <img src="https://i.imgur.com/jQWThIn.jpg" class="img-fluid">
                <div id="image-caption">Harry Mon</div>
              </div> 
            </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
           <span class="carousel-control-next-icon" aria-hidden="true"></span>
           <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
</div>
</section>
<%- include("partials/footer.ejs"); %>