<%-include("teacher/teacher-dash.ejs")%>
<div class="upload-course">
    <div class="container">
        <form action="/teacher/<%= user._id %>" method="post">
            <label for="">Please upload a Photo Identification Proof</label><br>
            <input type="file" name="identification" id=""><br>
            <button type="submit" class="btn btn-secondary" style="margin-top: 1rem;">Submit</button>
        </form>
    </div>
</div>
<%-include("partials/dash-footer.ejs")%>