@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
:root{
    --blue: #2d3092;
    --dark-grey: #757575;
    --light-grey: #f4f4f4;
    --font-sans: 'Montserrat', sans-serif;
    --font-serif: 'Playfair Display', serif;
}
.login-main,
.register-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 90vh;
    font-family: var(--font-sans);
}
.form-main{
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-between;
    padding: 7% 0;
    /* border: 1px solid var(--dark-grey); */
    border-radius: 2vw;
}
.form-illust{
    width: 60%;
}
.form-group{
    background-color: var(--light-grey);
    margin-bottom: 2vw;
    padding: .5vw 0;
    width: 100%;
    padding-left: .5vw;
    border-radius: .5vw;
}
.form-group label{
    font-weight: 500;
    letter-spacing: 1px;
}
.form-group input{
    border: none;
    outline: none;
    width: 98%;
    background: none;
}
.btn{
    width: 100%;
    background: var(--blue);
    border: none;
    color: white;
    font-family: var(--font-sans);
    font-weight: bold;
    letter-spacing: 1px;
    padding: 1vw 0;
    border-radius: .4vw;
    cursor: pointer;
}