body{
  background-color: #f4f4f4;
  color: rgb(53, 52, 52);
}

.header{
    background-image: url('https://future-students.uq.edu.au/sites/default/files/styles/hero_banner_medium/public/2020-09/stories-studying-online-hero_1.jpg?itok=af8W98hE');
    /* max-height: 10rem; */
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2rem;
}
.heading {  
  text-align: center;
  padding: 6rem 0;
  padding-bottom: 7rem;
}
.header .btn{
  background-color: #0a588b;
}

.heading-content {
  text-align: left;
  margin: 7rem 0 2rem 6rem;
  color: rgb(255, 255, 255);
}

.heading-content h1 {
  font-family: "Playfair Display", serif;
  font-size: 4.5rem;
  line-height: 1.2;
  letter-spacing: 0.05rem;
  border-bottom: solid 0.15rem;
  padding-bottom: 4%;
}

.heading-content h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  line-height: 1;
  letter-spacing: 0.05rem;
  padding-bottom: 1.4rem;
  margin: 5% 0 1%;
}
.choose-us{
  margin-top: 7px;
  padding: 3.1rem 0;
}
.choose-us img{
  height: 100%;
  width: auto;
  margin-top: 3.1rem;
  margin-left: -10px;
}
.benefit-card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: rgba(251, 247, 247, 0.924);
    border-radius: 3%;
    margin: 2rem 0;
    padding: 2rem 2rem;
}
.benefit-card img{
  margin-top: 0;
    height: 5rem;
    margin-left: 0;
    margin-right: 1.5rem;
    float: left;
}
.benefit-card h4{
    font-family: "Playfair Display", serif;
    /* color: rgb(53, 52, 52); */
    color: #0a588b;
    font-size: 1.5rem;
}

.benefit-card p{
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    color: rgb(144, 136, 136);
}

.button-28:hover {
  color: #0a588b;
  background-color: #f4f4f4;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

section#counter-stats {
	display: flex;
	justify-content: center;
  background: linear-gradient(rgba(255, 255, 255, 0.438), rgba(255, 255, 255, 0.774)), url('https://sp-ao.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_1024,h_613/https://www.iimtindia.net/Blog/wp-content/uploads/2021/08/shutterstock_517670749-1024x613-1.jpg');
  min-height: 5rem;
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0;
}

.stats {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
.stats h5{
  font-size: 1.35rem;
  font-family: 'Montserrat', sans-serif;
}
.stats .fa {
  color: #0a588b;
  font-size: 60px;
}

#demo {
    background: linear-gradient(112deg, #ffffff 50%, #8fc1e2 50%);
    padding: 2rem 0;
}

.carousel-caption {
    position: initial;
    padding: 5rem 15rem;
    color: #19608f;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: bold;
    line-height: 2rem
}

@media(max-width:767px) {
    .carousel-caption {
        position: initial;
        z-index: 10;
        padding: 3rem 2rem;
        color: rgba(78, 77, 77, 0.856);
        text-align: center;
        font-size: 0.7rem;
        font-style: italic;
        font-weight: bold;
        line-height: 1.5rem
    }
}

.carousel-caption img {
    width: 6rem;
    border-radius: 5rem;
    margin-top: 2rem
}

@media(max-width:767px) {
    .carousel-caption img {
        width: 4rem;
        border-radius: 4rem;
        margin-top: 1rem
    }
}

#image-caption {
    font-style: normal;
    font-size: 1rem;
    margin-top: 0.5rem
}

@media(max-width:767px) {
    #image-caption {
        font-style: normal;
        font-size: 0.6rem;
        margin-top: 0.5rem
    }
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-control-prev,
.carousel-control-next {
    transition: none;
    opacity: unset;
}

.button {
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 0.1rem 0;
  color: #0b3a59;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.button:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(202, 223, 228);
  border-radius: 0.1rem 0;
  z-index: -2;
}
.button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #19608f;
  transition: all 0.3s;
  border-radius: 0.1rem 0;
  z-index: -1;
}
.button:hover {
  color: #fff;
}
.button:hover:before {
  width: 100%;
}

.view-more{
  margin: 2rem 0 5rem;
}