@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
:root{
    --blue: #2d3092;
    --dark-grey: #757575;
    --light-grey: #f4f4f4;
    --font-sans: 'Montserrat', sans-serif;
    --font-serif: 'Playfair Display', serif;
}
body{
    font-family: var(--font-sans);
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background: #D9ECF2;
}
nav{
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    color: white;
    background: #0a588b;
    transform: translateX(-100%);
}
.logo-content{
    display: flex;
    width: 90%;
    justify-content: space-between;
    padding: 1vw;
}
.logo-content i{
    margin-right: .5vw;
}
h3{
    margin: 0;
}
.sidebar-list{
    list-style: none;
    padding: 0;
    margin-top: 3vw;
}
.sidebar-list li{
    margin: 1vw 0;
    height: 2vw;
    padding: .5vw 2vw;
    display: flex;
    align-items: center;
    transition: .5s;
}
.sidebar-list li:hover{
    border-left: .3vw solid white;
    background: linear-gradient(to right, #2D4059, #2d40591a);
}
.sidebar-list li i{
    margin-right: .5vw;
}
.sidebar-list li a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: white;
}
.bottom{
    position: fixed;
    bottom: 0;
    height: 5vw;
    display: flex;
    flex-direction: column;
    margin-left: 1vw;
    margin-bottom: 2vw;
    justify-content: space-between;
}
.user-name, .logout{
    color: white;
    text-decoration: none;
}
.logout i{
    margin-right: .5vw;
}
.logout:hover{
    color: #FF5722;
}
nav.is_active{
    transform: translateX(0);
}
/* profile css */
.profile{
    height: 100vh;
    background-color: #D9ECF2;
    display: flex;
    width: 80%;
    margin-left: auto;
    justify-content: center;
}

.profile-card{
    background-color: rgba(255, 255, 255, 0.4);
    padding: 2rem 0;
    margin: auto 0;
    text-align: center;
    border-radius: 2%;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.profile-card h2{
    color: #0a588b;
    font-family: "Playfair Display", serif;
    font-size: 2rem;
}
.profile-card table{
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
  border-spacing: 0 1em;
  color: #555b5f;
}

.profile-card th{
    color: #0a588b;
    padding-right: 1rem;
}