<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/CSS/stuDash.css" />
    <title>Student Dashboard</title>
</head>

<body>
    <nav class="is_active" id="nav">
        <div class="logo-content">
            <i class="fas fa-book"></i>
            <h3>iLearn</h3>
            <i class="fas fa-bars"></i>
        </div>
        <ul>
            <li>
                <a href="/student/<%= user._id %>"><i class="fas fa-th-large"></i>Dashboard</a>
            </li>
            <li>
                <a href=""><i class="fas fa-graduation-cap"></i>My Courses</a>
            </li>
            <li>
                <a href="/buy-course"><i class="fas fa-store"></i>Buy Courses</a>
            </li>
            <li>
                <a href="/profile/<%= user._id %>"><i class="far fa-user"></i>Profile</a>
            </li>
        </ul>
        <div class="bottom">
            <h3 class="user-name"><%= user.name %></h3>
            <a class="logout" href="/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </div>
    </nav>
<%-include("../partials/dash-footer.ejs")%>